#visgadget{
    position: absolute;
    background: transparent;
    margin: 0;
    padding: 0;
    z-index: 3;
    left: 0%;
    top:0%;


     /*禁止选择文本*/
     -webkit-touch-callout: none; /* iOS Safari */
     -webkit-user-select: none; /* Chrome/Safari/Opera */
     -moz-user-select: none; /* Firefox */
     -ms-user-select: none; /* Internet Explorer/Edge */
     user-select: none; /* Non-prefixed version, currently*/
    
}

.vd_topbar{
    position: relative;
    background: wheat;
    margin: 0;
    padding:0;
    width: 100%;
    height: 25px;
    border-radius: 9px 9px 0 0;
    text-align:center;
    font-family: "微软雅黑";
    font-weight: bolder;
    letter-spacing: 1px;
    line-height: 25px;

}

.vd_topbar:hover{
    background: rgb(243, 232, 212);
}

.vd_pannel{
    position: absolute;
    background: rgb(209, 214, 202);
    margin: 0;
    padding: 0;
    width: 100%;
    top:25px;
    bottom: 0%;
    opacity: 1;
    transition:opacity 0.5s;
}

.vd_toolbox{
    position: absolute;
    background: rgb(236, 154, 154);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 60%;
    overflow-y:scroll
    
}

.vd_toolbox::-webkit-scrollbar {
    display:none
}

.vd_toolbtn{
    position: absolute;
    background: rgb(221, 228, 210); 
    border-radius: 9px;
 
}
.vd_toolbtn:hover{
    background: rgb(243, 232, 212);
}

.vd_toolbtn p{ 
    position: absolute;
    margin: 0;
    padding: 0;
    bottom:0;
    border: 0;
    width: 100%;
    font-size: 85%;
    text-align: center;


}

.vd_toolbtn svg{

    position: absolute;
    width:50%;
    top: 17.5%; 
    left:25%;
    background: transparent;
    vertical-align:middle;
}




